/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env
composer.lock
/public/build
/public/css
/public/fonts
/public/img
/public/js
/public/uploads
/public/plugins
/public/mix-manifest.json
/resources/assets/bowers
/resources/assets/css/*_scss.*

